@import "~@watheia/iron-ui.theme.colors/colors.module.scss";

// .spectrumPalette {
//   --spectrum-global-color-static-black: rgb(0, 0, 0);
//   --spectrum-global-color-static-white: rgb(255, 255, 255);
//   --spectrum-global-color-static-blue: rgb(20, 115, 230);
//   --spectrum-global-color-static-gray-50: rgb(255, 255, 255);
//   --spectrum-global-color-static-gray-75: rgb(255, 255, 255);
//   --spectrum-global-color-static-gray-100: rgb(255, 255, 255);
//   --spectrum-global-color-static-gray-200: rgb(244, 244, 244);
//   --spectrum-global-color-static-gray-300: rgb(234, 234, 234);
//   --spectrum-global-color-static-gray-400: rgb(211, 211, 211);
//   --spectrum-global-color-static-gray-500: rgb(188, 188, 188);
//   --spectrum-global-color-static-gray-600: rgb(149, 149, 149);
//   --spectrum-global-color-static-gray-700: rgb(116, 116, 116);
//   --spectrum-global-color-static-gray-800: rgb(80, 80, 80);
//   --spectrum-global-color-static-gray-900: rgb(50, 50, 50);
//   --spectrum-global-color-static-blue-200: rgb(90, 169, 250);
//   --spectrum-global-color-static-blue-300: rgb(75, 156, 245);
//   --spectrum-global-color-static-blue-400: rgb(55, 142, 240);
//   --spectrum-global-color-static-blue-500: rgb(38, 128, 235);
//   --spectrum-global-color-static-blue-600: rgb(20, 115, 230);
//   --spectrum-global-color-static-blue-700: rgb(13, 102, 208);
//   --spectrum-global-color-static-blue-800: rgb(9, 90, 186);
//   --spectrum-global-color-static-red-400: rgb(236, 91, 98);
//   --spectrum-global-color-static-red-500: rgb(227, 72, 80);
//   --spectrum-global-color-static-red-600: rgb(215, 55, 63);
//   --spectrum-global-color-static-red-700: rgb(201, 37, 45);
//   --spectrum-global-color-static-orange-400: rgb(242, 148, 35);
//   --spectrum-global-color-static-orange-500: rgb(230, 134, 25);
//   --spectrum-global-color-static-orange-600: rgb(218, 123, 17);
//   --spectrum-global-color-static-orange-700: rgb(203, 111, 16);
//   --spectrum-global-color-static-green-400: rgb(51, 171, 132);
//   --spectrum-global-color-static-green-500: rgb(45, 157, 120);
//   --spectrum-global-color-static-green-600: rgb(38, 142, 108);
//   --spectrum-global-color-static-green-700: rgb(18, 128, 92);
//   --spectrum-global-color-static-celery-200: rgb(88, 224, 111);
//   --spectrum-global-color-static-celery-300: rgb(81, 210, 103);
//   --spectrum-global-color-static-celery-400: rgb(75, 195, 95);
//   --spectrum-global-color-static-celery-500: rgb(68, 181, 86);
//   --spectrum-global-color-static-celery-600: rgb(61, 167, 78);
//   --spectrum-global-color-static-celery-700: rgb(55, 153, 71);
//   --spectrum-global-color-static-chartreuse-300: rgb(155, 236, 84);
//   --spectrum-global-color-static-chartreuse-400: rgb(142, 222, 73);
//   --spectrum-global-color-static-chartreuse-500: rgb(133, 208, 68);
//   --spectrum-global-color-static-chartreuse-600: rgb(124, 195, 63);
//   --spectrum-global-color-static-chartreuse-700: rgb(115, 181, 58);
//   --spectrum-global-color-static-yellow-200: rgb(255, 226, 46);
//   --spectrum-global-color-static-yellow-300: rgb(250, 217, 0);
//   --spectrum-global-color-static-yellow-400: rgb(237, 204, 0);
//   --spectrum-global-color-static-yellow-500: rgb(223, 191, 0);
//   --spectrum-global-color-static-yellow-600: rgb(210, 178, 0);
//   --spectrum-global-color-static-yellow-700: rgb(196, 166, 0);
//   --spectrum-global-color-static-magenta-200: rgb(245, 107, 183);
//   --spectrum-global-color-static-magenta-300: rgb(236, 90, 170);
//   --spectrum-global-color-static-magenta-400: rgb(226, 73, 157);
//   --spectrum-global-color-static-magenta-500: rgb(216, 55, 144);
//   --spectrum-global-color-static-magenta-600: rgb(202, 41, 130);
//   --spectrum-global-color-static-magenta-700: rgb(188, 28, 116);
//   --spectrum-global-color-static-fuchsia-400: rgb(207, 62, 220);
//   --spectrum-global-color-static-fuchsia-500: rgb(192, 56, 204);
//   --spectrum-global-color-static-fuchsia-600: rgb(177, 48, 189);
//   --spectrum-global-color-static-fuchsia-700: rgb(162, 40, 173);
//   --spectrum-global-color-static-purple-400: rgb(157, 100, 225);
//   --spectrum-global-color-static-purple-500: rgb(146, 86, 217);
//   --spectrum-global-color-static-purple-600: rgb(134, 76, 204);
//   --spectrum-global-color-static-purple-700: rgb(122, 66, 191);
//   --spectrum-global-color-static-purple-800: rgb(111, 56, 177);
//   --spectrum-global-color-static-indigo-200: rgb(144, 144, 250);
//   --spectrum-global-color-static-indigo-300: rgb(130, 130, 246);
//   --spectrum-global-color-static-indigo-400: rgb(117, 117, 241);
//   --spectrum-global-color-static-indigo-500: rgb(103, 103, 236);
//   --spectrum-global-color-static-indigo-600: rgb(92, 92, 224);
//   --spectrum-global-color-static-indigo-700: rgb(81, 81, 211);
//   --spectrum-global-color-static-seafoam-200: rgb(38, 192, 199);
//   --spectrum-global-color-static-seafoam-300: rgb(35, 178, 184);
//   --spectrum-global-color-static-seafoam-400: rgb(32, 163, 168);
//   --spectrum-global-color-static-seafoam-500: rgb(27, 149, 154);
//   --spectrum-global-color-static-seafoam-600: rgb(22, 135, 140);
//   --spectrum-global-color-static-seafoam-700: rgb(15, 121, 125);
//   --spectrum-global-color-opacity-100: 1;
//   --spectrum-global-color-opacity-90: 0.9;
//   --spectrum-global-color-opacity-80: 0.8;
//   --spectrum-global-color-opacity-60: 0.6;
//   --spectrum-global-color-opacity-50: 0.5;
//   --spectrum-global-color-opacity-42: 0.42;
//   --spectrum-global-color-opacity-40: 0.4;
//   --spectrum-global-color-opacity-30: 0.3;
//   --spectrum-global-color-opacity-25: 0.25;
//   --spectrum-global-color-opacity-20: 0.2;
//   --spectrum-global-color-opacity-15: 0.15;
//   --spectrum-global-color-opacity-10: 0.1;
//   --spectrum-global-color-opacity-8: 0.08;
//   --spectrum-global-color-opacity-7: 0.07;
//   --spectrum-global-color-opacity-6: 0.06;
//   --spectrum-global-color-opacity-5: 0.05;
//   --spectrum-global-color-opacity-4: 0.04;

//   /* spectrum-colorSemantics.css */
//   --spectrum-semantic-negative-color-background: var(
//     --spectrum-global-color-static-red-700
//   );
//   --spectrum-semantic-negative-color-default: var(--spectrum-global-color-red-500);
//   --spectrum-semantic-negative-color-state-hover: var(--spectrum-global-color-red-600);
//   --spectrum-semantic-negative-color-dark: var(--spectrum-global-color-red-600);
//   --spectrum-semantic-negative-color-border: var(--spectrum-global-color-red-400);
//   --spectrum-semantic-negative-color-icon: var(--spectrum-global-color-red-600);
//   --spectrum-semantic-negative-color-status: var(--spectrum-global-color-red-400);
//   --spectrum-semantic-negative-color-text-large: var(--spectrum-global-color-red-500);
//   --spectrum-semantic-negative-color-text-small: var(--spectrum-global-color-red-600);
//   --spectrum-semantic-negative-color-state-down: var(--spectrum-global-color-red-700);
//   --spectrum-semantic-negative-color-state-focus: var(--spectrum-global-color-red-400);
//   --spectrum-semantic-notice-color-background: var(
//     --spectrum-global-color-static-orange-700
//   );
//   --spectrum-semantic-notice-color-default: var(--spectrum-global-color-orange-500);
//   --spectrum-semantic-notice-color-dark: var(--spectrum-global-color-orange-600);
//   --spectrum-semantic-notice-color-border: var(--spectrum-global-color-orange-400);
//   --spectrum-semantic-notice-color-icon: var(--spectrum-global-color-orange-600);
//   --spectrum-semantic-notice-color-status: var(--spectrum-global-color-orange-400);
//   --spectrum-semantic-notice-color-text-large: var(--spectrum-global-color-orange-500);
//   --spectrum-semantic-notice-color-text-small: var(--spectrum-global-color-orange-600);
//   --spectrum-semantic-notice-color-state-down: var(--spectrum-global-color-orange-700);
//   --spectrum-semantic-notice-color-state-focus: var(--spectrum-global-color-orange-400);
//   --spectrum-semantic-positive-color-background: var(
//     --spectrum-global-color-static-green-700
//   );
//   --spectrum-semantic-positive-color-default: var(--spectrum-global-color-green-500);
//   --spectrum-semantic-positive-color-dark: var(--spectrum-global-color-green-600);
//   --spectrum-semantic-positive-color-border: var(--spectrum-global-color-green-400);
//   --spectrum-semantic-positive-color-icon: var(--spectrum-global-color-green-600);
//   --spectrum-semantic-positive-color-status: var(--spectrum-global-color-green-400);
//   --spectrum-semantic-positive-color-text-large: var(--spectrum-global-color-green-500);
//   --spectrum-semantic-positive-color-text-small: var(--spectrum-global-color-green-600);
//   --spectrum-semantic-positive-color-state-down: var(--spectrum-global-color-green-700);
//   --spectrum-semantic-positive-color-state-focus: var(--spectrum-global-color-green-400);
//   --spectrum-semantic-informative-color-background: var(
//     --spectrum-global-color-static-blue-700
//   );
//   --spectrum-semantic-informative-color-default: var(--spectrum-global-color-blue-500);
//   --spectrum-semantic-informative-color-dark: var(--spectrum-global-color-blue-600);
//   --spectrum-semantic-informative-color-border: var(--spectrum-global-color-blue-400);
//   --spectrum-semantic-informative-color-icon: var(--spectrum-global-color-blue-600);
//   --spectrum-semantic-informative-color-status: var(--spectrum-global-color-blue-400);
//   --spectrum-semantic-informative-color-text-large: var(--spectrum-global-color-blue-500);
//   --spectrum-semantic-informative-color-text-small: var(--spectrum-global-color-blue-600);
//   --spectrum-semantic-informative-color-state-down: var(--spectrum-global-color-blue-700);
//   --spectrum-semantic-informative-color-state-focus: var(--spectrum-global-color-blue-400);
//   --spectrum-semantic-cta-color-background-default: var(
//     --spectrum-global-color-static-blue-600
//   );
//   --spectrum-semantic-cta-color-background-hover: var(
//     --spectrum-global-color-static-blue-700
//   );
//   --spectrum-semantic-cta-color-background-down: var(
//     --spectrum-global-color-static-blue-800
//   );
//   --spectrum-semantic-cta-color-background-key-focus: var(
//     --spectrum-global-color-static-blue-600
//   );
//   --spectrum-semantic-background-color-key-focus: var(
//     --spectrum-global-color-static-blue-600
//   );
//   --spectrum-semantic-neutral-color-background: var(
//     --spectrum-global-color-static-gray-700
//   );
//   --spectrum-semantic-presence-color-1: var(--spectrum-global-color-static-red-500);
//   --spectrum-semantic-presence-color-2: var(--spectrum-global-color-static-orange-400);
//   --spectrum-semantic-presence-color-3: var(--spectrum-global-color-static-yellow-400);
//   --spectrum-semantic-presence-color-4: rgb(75, 204, 162);
//   --spectrum-semantic-presence-color-5: rgb(0, 199, 255);
//   --spectrum-semantic-presence-color-6: rgb(0, 140, 184);
//   --spectrum-semantic-presence-color-7: rgb(126, 75, 243);
//   --spectrum-semantic-presence-color-8: var(--spectrum-global-color-static-fuchsia-600);
// }

/**
 * CSS colors and variables for the app.
 */

.primaryPalette {
  color: $d50;

  --bit-text-color: #{$d50};
  --bit-text-color-heavy: #{$d60};
  --bit-text-color-light: #{$d40};
  --bit-text-inactive: #{$d20};
  --bit-text-inactive-heavy: #{$d30};
  --bit-border-color: #{$d20};
  --bit-border-color-heavy: #{$d30};
  --bit-border-color-light: #{$d15};
  --bit-border-color-lightest: #{$d10};

  // -- accent -- //
  --bit-accent-color: #{$b60};
  --bit-accent-heavy: #024873;
  --bit-accent-light: #027373;
  --bit-accent-text: #024873;
  --bit-accent-text-heavy: #013440;
  --bit-text-on-accent: #{$w10};
  --bit-accent-bg: #{$b20};
  --bit-accent-bg-heavy: #{$b30};

  // -- background -- //
  // // higher number = more important, and 'closer' to the user.
  // --bit-bg-01: #{$w10};
  // --bit-bg-03: #{$w20};
  // --bit-bg-05: #{$d10};
  // --bit-bg-07: #{$d15};
  // --bit-bg-09: #{$d20};
  // --bit-bg-11: #{$d30};

  // intractable item
  --bit-bg-color: #{$w10}; // when resting
  --bit-bg-heavy: #{$w20}; // when hovering, focus
  --bit-bg-heaviest: #{$d10}; // when active (clicked)
  --bit-bg-bedrock: #{$w10}; // i.e. <body/> background
  --bit-bg-navigation: #{$w20}; // i.e. <body/> background
  --bit-bg-overlay: #{$w10}; // e.g. button, input, etc
  --bit-bg-modal: #{$w10}; // e.g. button, input, etc
  --bit-bg-tooltip: #{$w10}; // e.g. button, input, etc
  --bit-bg-tooltip-heavy: #{$w20};
  --bit-bg-dent: #{$w20};

  // -- error -- //
  // might replace with 'error' theme
  --bit-error-color: #{$r50};
  --bit-error-heavy: #{$r60};
  --bit-error-light: #{$r40};
  --bit-error-bg: #{$r20};
  --bit-error-bg-heavy: #{$r30};
}
